{% extends 'from.html' %}



{% block left_btn %}
    <input id="send_email" class="btn btn-primary" type="button" value="获取验证码">
{% endblock %}

{% block script_content %}
    <script type="text/javascript">
        $('#send_email').click(function () {
            var email = $('#id_email').val();
            console.log(email)
            if (email==''){
                $('#tip').text('*邮箱不能为空');
                return false;
            }

            $.ajax({
                url:'/user/send_email/',
                type:'get',
                dataType:'json',
                data:{
                    'email':email,
                    'send_for':'forget'
                },
                cache:false,
                success:function (resp) {
                    if (resp['status']=='error'){
                        alert('错误');
                    }
                    console.log(resp)
                }
            });
            $(this).addClass('disabled');
            $(this).attr('disabled',true);
            var time = 30;
            $(this).text(time+'s');
            var interval = setInterval( ()=> {
                if (time <=0){
                    clearInterval(interval);
                    $(this).removeClass('disabled');
                    $(this).attr('disabled',false);
                    $(this).val('发送验证码');
                    return false;
                }
                time --;
                $(this).val(time+'s')
            },1000)
        })
    </script>

{% endblock %}
